// media 
$md: 768px;
$lg: 1024px;

// brand color
$icarus-red: #B80C09;
$icarus-yellow: #EAC435;

.outer-nav {
  background: $icarus-yellow;
  border-bottom: black .2rem solid;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;

  width: 100%;
  position: relative;
  background: $icarus-yellow;
  @media (min-width: $md) {
    max-width: 1280px;
  }

  h1 {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 3rem;
    bottom: .5rem;
    font-size: 2rem;
    font-weight: 900;
    color: black;
    @media (min-width: $md) {
      display: none;
    }
  }

  img {
    height: 3.5rem;
    padding: .3rem;
  };

  .nav__dropdown-button {
    background: $icarus-yellow;
    border: none;
    @media (min-width: $md) {
      display: none;
    }
  }
}


.nav-dropdown {
  color: white;
  display: none;
  box-sizing: border-box;
  position: absolute;
  background: rgba(184, 12, 9, .85);
  list-style: none;
  width: 100%;
  padding: 1rem 2rem;
  top: 2.4rem;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: .2rem solid black;
  border-top: .2rem solid black;
  z-index: 20;
  @media (min-width: $md) {
    flex-grow: 1;
    display: flex !important; 
    align-items: center;
    color: black;
    background: $icarus-yellow;
    position: relative;
    width: auto;
    border: 0;
    padding: 0;
    top: 0;
    margin: 0;
    font-size: 1.5rem;

    li {
      margin: 0 .5rem;
    }

    .nav-dropdown--cart {
      position: absolute;
      right: 2rem;
      top: .1rem;
    }
  }

  img {
    height: 2rem;
  }

  .nav-dropdown--cart, .nav-dropdown--find-local {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: .3rem black solid;
    border-radius: .3em;
    margin: .5rem 0;
    @media (min-width: $md) {
      border: black .1rem solid;
      padding: 0 .3rem;
      margin-left: .2rem;
    }

    span {
      font-size: 1.5rem;
    }
  }
}

.nav-link {
  text-decoration: none;
  color: white;
  @media (min-width: $md) {
    color: black;
  }
}

