// media 
$md: 768px;
$lg: 1024px;

// brand color
$icarus-red: #B80C09;
$icarus-yellow: #EAC435;

.menu-item {
  position: relative;
  border: black .15rem solid;
  border-radius: .4rem;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin: 1rem;
  }
  > p {
    font-weight: 600;
    margin: 1rem;
    text-align: right;
  }
}

.menu-item__order-options {
  background: grey;
  position: absolute;
  bottom: 0;
  width: 100%;
}