// media 
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// brand color
$icarus-red: #B80C09;
$icarus-yellow: #EAC435;

.home {
  width: 100%;
  max-width: 1280px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .home__order-now {
    text-decoration: none;
    color: black;
    margin: 2rem;
    padding: 1rem 4.5rem;
    border-radius: .5rem;
    border: black .15rem solid;
    background: $icarus-yellow;
    font-weight: 700;
    font-size: 1.3rem;
    @media (min-width: $md) {
      display: none;
    }
  }

  .home__featured-deal {
    box-sizing: border-box;
    text-decoration: none;
    border: black solid .15rem;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: 18rem;
    position: relative;
    margin: 0 0 1rem 0 ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover !important;
    text-shadow: 1px 1.5px 1px black;
    box-shadow: inset 0 -2rem 5rem black;
    color: white;
    
    @media (min-width: $md) {
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }
    
    @media (min-width: $xl) {
      border-radius: 0 0 .3rem .3rem;
      border-left: black solid .15rem;
      border-right: black solid .15rem;
    }

    h1 {
      margin: .5rem;
    };
    h2 {
      position: absolute;
      top: 3rem;
      left: 1rem;
      margin: .5rem;
    }
    p {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
}

.home__popular-items-section {
  width: 100%;

  .popular-items__title {
    margin: 0;
    padding: 0 1rem;
  }

  .popular-items__content {
    margin: 1rem 0 3rem 0;
    padding: 0 1rem;

    @media (min-width: $md) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 15rem 15rem;
      gap: 1rem;    
      
      >:nth-child(1) {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
      }
      >:nth-child(2) {
        grid-row: 1 / span 1;
        grid-column: 3 / span 2;
      }
      >:nth-child(3) {
        grid-row: 1 / span 1;
        grid-column: 5 / span 2;
      }
      >:nth-child(4) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 3;
      }
      >:nth-child(5) {
        grid-row: 2 / span 1;
        grid-column: 4 / span 3;
      }
    }

    @media (min-width: $xl) {
      padding: 0;
    }

    > * {
      margin: 1rem 0;
      @media (min-width: $md) {
        margin: 0;
      }
    }
  }
} 

.home__rewards-section {
  border:black .15rem  solid;
  border-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  background-color: greenyellow; 
  font-weight: 700;
  height: 18rem;
  font-size: 3rem;

  :hover {
    color: white;
    font-size: 4rem;
  }

  @media (min-width: $xl) {
    border-radius: .3rem .3rem 0 0 ;
    border-left: black solid .15rem;
    border-right: black solid .15rem;
  }
}