// media 
$md: 768px;
$lg: 1024px;

// brand color
$icarus-red: #B80C09;
$icarus-yellow: #EAC435;

@mixin red-button {
  border: black solid 2px;
  background-color: $icarus-red;
  color: white;
  border-radius: .4rem;
}

@mixin yellow-button {
  border: black solid 2px;
  background-color: $icarus-yellow;
  color: black;
  border-radius: .4rem;
}

@mixin title {
  font-size: 2rem;
  padding: .3rem;
  margin: 1rem;
  border-bottom: $icarus-red solid 2px;
}

.menu {
  padding: 1rem;
  max-width: 1280px;
  width: 100%;
  
  .menu-title {
    @include title;
    margin-bottom: 0;
  }


  .menu__first-section {
      display: flex;
      justify-content: space-around;
      margin: 2rem 0;
      flex-direction: column;

      @media (min-width: $md) {
        flex-direction: row;
      }
  }

  .menu__create-pizza {
    text-decoration: none;
  
    @include red-button;
    text-align: center;
    margin: 0rem 1rem;
    padding: 0rem 2rem;
    margin-bottom: 1rem;
   
    &:hover {
      @include yellow-button
    }

    @media (min-width: $md) {
      margin-bottom: 2rem;
    }
  
  }

  .menu__choose-preset {
    text-decoration: none;
    @include red-button;
    text-align: center;
    margin: 0rem 1rem;
    padding: 0rem 2rem;

    
    &:hover {
      @include yellow-button;
      margin-bottom: 1rem;
    }

    @media (min-width: $md) {
      margin-bottom: 2rem;
    }
  
  }

  > div {
    margin: 2rem 0;

    @media (min-width: $md) {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  h3 {
    border-bottom: solid 1px $icarus-red;
    font-size: 2rem;
    padding: .3rem;
    margin: 1rem;
    

    @media (min-width: $md) {
      position: absolute;
      top: -4rem;
      width: 50%;
    }
  }
}

.menu__go-to-cart {
  
    @include red-button;
    text-align: center;
    width: fit-content;
    align-self: center;
    padding: 1rem;
    margin-left: 2rem;
    >:nth-child(1){
      color: white;
      text-decoration: none;
    }

    &:hover {
      @include yellow-button
    }
  
}