body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::-webkit-scrollbar {
    background: #EAC435;
    border-left: black .1rem solid;
  }
  &::-webkit-scrollbar-thumb {
    background: #B80C09;
    border-radius: 4rem;
    border: black .1rem solid;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// media 
$md: 768px;
$lg: 1024px;

button {
  font-family: 'Lora', serif;
}


